.cat-name {
    text-align: center;
    font-size: 30px;
}

.cat-image {
    display: block;
    margin: auto;
}

.click-counter {
    text-align: center;
    font-size: 25px;
    font-style: bold;
}


